<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:targetApi="p"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function_pages.ScrollConflictActivity" />
        <activity android:name=".scroll_conflict.ExampleActivity01" />
        <activity android:name=".scroll_conflict.ExampleActivity04" />
        <activity android:name=".scroll_conflict.ExampleActivity05" />
        <activity android:name=".scroll_conflict.ExampleActivity03" />
        <activity android:name=".scroll_conflict.ExampleActivity02" />
        <activity android:name=".sensor_event.ExampleSensorEvent01" />
        <activity android:name=".function_pages.SensorActivity" />
        <activity android:name=".function_pages.LoginAppActivity" />
    </application>

</manifest>
